.form {
    background-color: #EDE6E6;
    min-width: 100vw;
    min-height: 100vh;
    color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 15px;
}

form {
    background-color: white;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: #219EBC;
    font-weight: 600;
}

.form-questoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.form-adotante {
    width: 45%;
}

.form-animal {
    width: 45%;
}

input {
    background-color: #f7fcfc;
    border-radius: 5px;
    padding: 4px;
    font-weight: 500;
    margin-top: 5px;
    color: #FFBE0B;
}

span {
    padding: 5px 30px;
    text-align: justify;
}

button {
    background-color: #219EBC;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: #156f85;
}

select {
    background-color: #f7fcfc;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 5px;
    padding: 4px;
    color: #FFBE0B;
}