.form {
  background-color: #ede6e6;
  margin: 0 auto;
  min-height: 100vh;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  font-size: 15px;
}

.form form {
  background-color: white;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.form label {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #219ebc;
  font-weight: 600;
}

.form .form-questoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}

.form-adotante {
  width: 45%;
}

.form-animal {
  width: 45%;
}

.form input {
  background-color: #f7fcfc;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 500;
  margin-top: 5px;
  color: #ffbe0b;
}

.form span {
  padding: 5px 30px;
  text-align: justify;
}

.form .baixar-contrato {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  background-color: var(--yellow);
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  color: white;
}

.form button:hover {
  background-color: #156f85;
}

.form select {
  background-color: #f7fcfc;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 5px;
  padding: 4px;
  color: #ffbe0b;
}

.contrato-termo {
  padding: 15px 30px;
}

.title-aviso {
  color: #ffbe0b;
  padding: 20px;
  font-weight: 900;
  background-color: crimson;
}
