@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&family=Open+Sans:wght@300;500;600;800&display=swap");

:root {
  --blue: #219ebc;
  --darkBlue: #156f85;
  --black: #000000;
  --white: #ffffff;
  --gray: #c4c4c4;
  --lightGray: #bfbfbf;
  --lighterGray: #ede6e6;
  --lightestGray: #f7fcfc;
  --orange: #fb5607;
  --yellow: #ffbe0b;

  --defaultBackgroundColor: var(--white);
  --primaryBackgroundColor: var(--yellow);
  --secondaryBackgroundColor: var(--lighterGray);

  --primaryFontColor: var(--white);
  --secondaryFontColor: var(--yellow);
  --tertiaryFontColor: var(--orange);
  --labelColor: var(--blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

#root,
html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Inter;
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--defaultBackgroundColor);
  color: var(--primaryFontColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

nav {
  background-color: var(--primaryBackgroundColor);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 0.5rem 0;
  color: var(--lighterGray);
}

a:link {
  text-decoration: none;
  color: var(--primaryFontColor);
  padding-right: 10px;
}

a {
  color: var(--primaryFontColor);
  transition: font-weight 0.2s;
  margin-left: 8px;
}

.active-style {
  font-weight: 700;
  color: var(--tertiaryFontColor);
}

.active-style path {
  fill: var(--primaryFontColor);
}

.logo {
  width: 55px;
  height: 40px;
}
